/* LARGEST CONTAINER STYLES */
.container {
  padding: 0;
}
.main {
  display: flex;
  /* flex-direction: column; */
  background: radial-gradient(white, red);
  border-left: 8px solid black;
  border-right: 8px solid black;
  border-top: 4px solid black;;
  border-bottom: 4px solid black;;
  height: 605px;
}

/* NAVBAR STYLES */
.navbar {
  height: 110px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 8px solid black;
  border-bottom: 4px solid black;
}
/* .connectBtn{
  min-width: 200px;
  min-height: 70px;
  padding: 15px;
  margin-bottom: 30px;
  margin-right: -45px;
} */

.walletButtons {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.connectBtn{
  border:1px solid rgba(255,255,255,.5);
  box-shadow:0 0 20px 0 rgba(255,255,255,.5) inset;
  min-width: 200px;
  min-height: 70px;
  padding: 15px;
  margin-bottom: 30px;
  margin-right: -45px;
}
.connectBtn:hover{
  box-shadow:0 0 50px 2px rgba(255,255,255,.5) inset;
}

/* HOME/INDEX STYLES */
.leftHomeCol{
  border: 1px solid black;
  border-radius: 25px;
  height: 550px;
  margin-left: -50px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-right: 20px; 
}
.rightHomeCol{
  border: 1px solid black;
  border-radius: 25px;
  height: 550px;
  width: 73%;
  margin-right: -80px;
  margin-top: 20px;
  margin-bottom: 15px; 
  margin-left: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ABOUT STYLES */
.about {
  display: flex;
  flex-direction: column;
  background: radial-gradient(white, red);
  border-left: 8px solid black;
  border-right: 8px solid black;
  border-top: 4px solid black;;
  border-bottom: 4px solid black;;
  height: 603px;
}
.leftAboutCol{
  justify-content: center; 
  border: 1px solid black;
  border-radius: 25px;
  height: 550px;
  width: 65%;
  margin-left: -30px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-right: 20px; 
}
.leftAboutCol h1{
  border: 5px solid black;
  border-radius: 15px;
  height: 50px;
  width: 93%;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px; 
}
.leftAboutCol p{
  border: 5px solid black;
  border-radius: 15px;
  height: 70%;
  width: 93%;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-right: 30px; 
}
.rightAboutCol{
  border: 1px solid black;
  border-radius: 25px;
  height: 550px;
  width: 31%;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 15px; 
  margin-left: 20px; 
}

/* RARITY/COLLECTION STYLES */
.collectionContainer{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 550px;
  border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.rarityHeader{
  height: 60px;
  width: 150px;
}

/* ROADMAP */
.roadmapContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  height: 450px;
  border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* FOOTER STYLES */
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border: 8px solid black;
  border-top: 4px solid black ;
  justify-content: center;
  align-items: center;
  background: rgb(44, 44, 44);
  height: 83px;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* ADDED USEFUL STYLES */
.verticalCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.centerHorizontal {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.wrapper {
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
  width: 50%;
} 
.center{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;

}
.cardClass{
  width: 18rem;
  border-radius: 25px;
}
.rowClass{
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: auto;
}
.img{
  border-radius: 25px;
  margin-left: 100px;
}
.wallet-adapter-dropdown-list-active{
  transform: translateY(-20px);
}
.wallet-adapter-dropdown-list{
  right: -55px;
}




